In [1]:
import numpy as np
import pandas as pd

In [2]:
a=[]
for i in ["PS1","PS2","PS3","PS4","PS5","PS6",
         "TS1","TS2","TS3","TS4","FS1","FS2",
          "EPS1", "VS1", "SE"
         ]:
    sensors=np.genfromtxt(
        r"/Users/bagusemeraldo/Desktop/Pacmann/DS/Introduction to Machine Learning I/Project/hydraulic"
        +"/"+i+".txt")
    a.append(sensors)
ps1,ps2,ps3,ps4,ps5,ps6,ts1,ts2,ts3,ts4,fs1,fs2,eps1,vs1,se=a

In [25]:
ps1.shape, ts1.shape, fs1.shape, eps1.shape, vs1.shape, se.shape

((2205, 6000), (2205, 60), (2205, 600), (2205, 6000), (2205, 60), (2205, 60))

In [59]:
np.array(a)

/var/folders/7f/gzmkl43s6zxfn1x333qgfzvc0000gn/T/ipykernel_1712/1669458627.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array(a)

ValueError: could not broadcast input array from shape (2205,6000) into shape (2205,)

In [3]:
#calculate the mean of every sensors
ps1 = ps1.mean(axis=1)
ps2 = ps2.mean(axis=1)
ps3 = ps3.mean(axis=1)
ps4 = ps4.mean(axis=1)
ps5 = ps5.mean(axis=1)
ps6 = ps6.mean(axis=1)

ts1 = ts1.mean(axis=1)
ts2 = ts2.mean(axis=1)
ts3 = ts3.mean(axis=1)
ts4 = ts4.mean(axis=1)

fs1 = fs1.mean(axis=1)
fs2 = fs2.mean(axis=1)

eps1 = eps1.mean(axis=1)

vs1 = vs1.mean(axis=1)

se = se.mean(axis=1)

In [4]:
df=pd.DataFrame({"PS1":ps1,"PS2":ps2,"PS3":ps3,"PS4":ps4,"PS5":ps5,"PS6":ps6,
                "TS1":ts1,"TS2":ts2,"TS3":ts3,"TS4":ts4,"FS1":fs1,"FS2":fs2,
                 "EPS1":eps1, "VS1":vs1, "SE":se})

In [5]:
df.head()

,PS1,PS2,PS3,PS4,PS5,PS6,TS1,TS2,TS3,TS4,FS1,FS2,EPS1,VS1,SE
0,160.673492,109.466914,1.991475,0.0,9.842169,9.728098,35.621983,40.978767,38.471017,31.745250,6.709815,10.304592,2538.929167,0.576950,59.157183
1,160.603320,109.354890,1.976234,0.0,9.635142,9.529488,36.676967,41.532767,38.978967,34.493867,6.715315,10.403098,2531.498900,0.565850,59.335617
2,160.347720,109.158845,1.972224,0.0,9.530548,9.427949,37.880800,42.442450,39.631950,35.646150,6.718522,10.366250,2519.928000,0.576533,59.543150
3,160.188088,109.064807,1.946576,0.0,9.438827,9.337429,38.879050,43.403983,40.403383,36.579467,6.720565,10.302678,2511.541633,0.569267,59.794900
4,160.000472,108.931434,1.922707,0.0,9.358762,9.260636,39.803917,44.332750,41.310550,37.427900,6.690308,10.237750,2503.449500,0.577367,59.455267

In [6]:
df.isnull().sum()

PS1     0
PS2     0
PS3     0
PS4     0
PS5     0
PS6     0
TS1     0
TS2     0
TS3     0
TS4     0
FS1     0
FS2     0
EPS1    0
VS1     0
SE      0
dtype: int64

In [7]:
a=[]
for i in ["PS1","PS2","PS3","PS4","PS5","PS6",
         "TS1","TS2","TS3","TS4","FS1","FS2",
          "EPS1", "VS1", "SE"
         ]:
    sensors=np.genfromtxt(
        r"/Users/bagusemeraldo/Desktop/Pacmann/DS/Introduction to Machine Learning I/Project/hydraulic"
        +"/"+i+".txt")
    a.append(sensors)
ps1,ps2,ps3,ps4,ps5,ps6,ts1,ts2,ts3,ts4,fs1,fs2,eps1,vs1,se=a

In [8]:
target = np.genfromtxt(
        r"/Users/bagusemeraldo/Desktop/Pacmann/DS/Introduction to Machine Learning I/Project/hydraulic"
        +"/"+"profile"+".txt")

In [9]:
df['internal_pump_leakage'] = target[:,2]

In [10]:
df.head()

,PS1,PS2,PS3,PS4,PS5,PS6,TS1,TS2,TS3,TS4,FS1,FS2,EPS1,VS1,SE,internal_pump_leakage
0,160.673492,109.466914,1.991475,0.0,9.842169,9.728098,35.621983,40.978767,38.471017,31.745250,6.709815,10.304592,2538.929167,0.576950,59.157183,0.0
1,160.603320,109.354890,1.976234,0.0,9.635142,9.529488,36.676967,41.532767,38.978967,34.493867,6.715315,10.403098,2531.498900,0.565850,59.335617,0.0
2,160.347720,109.158845,1.972224,0.0,9.530548,9.427949,37.880800,42.442450,39.631950,35.646150,6.718522,10.366250,2519.928000,0.576533,59.543150,0.0
3,160.188088,109.064807,1.946576,0.0,9.438827,9.337429,38.879050,43.403983,40.403383,36.579467,6.720565,10.302678,2511.541633,0.569267,59.794900,0.0
4,160.000472,108.931434,1.922707,0.0,9.358762,9.260636,39.803917,44.332750,41.310550,37.427900,6.690308,10.237750,2503.449500,0.577367,59.455267,0.0

In [11]:
df = df.drop(columns='SE')

In [13]:
df.to_csv(r'/Users/bagusemeraldo/Desktop/Pacmann/DS/Introduction to Machine Learning I/Project/pump_leakage_1.csv')